*{
  box-sizing: border-box;
}

body{
  height: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.lora-fuente {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
  }
  
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.5em;}
ul{ list-style: none;}

.container{
  max-width: 1400px;
  margin: auto;
}

header{
  background-color:rgb(242, 222, 184);
}

header .logo{
  margin: 0;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 1.6em;
}

header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

header a{
  padding: 5px 12px;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover{
  color:darksalmon ;
}

#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 50vh;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url(../asset/img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1{
  color: white;
}

.card{
  border-radius: 10px;
  
  padding: 20px;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 30px;
}

.card a{
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

footer{
  background-color: rgb(230,230,230);
}

footer p{
  margin: 0;
  padding: 12px;
  color: rgb(100,100,100);
}

footer .container{
  height: 140px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .redes{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgb(100,100,100);
}

.whatsapp-float {
  position: fixed;
  bottom: 80px;
  right: 80px;
  background-color: #25D366;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  text-decoration: none;
  transition: transform 0.2s;
}

.whatsapp-float:hover {
  transform: scale(1.05);
} 

.whatsapp-float img {
  width: 80px;
  height: 80px;
}

.loginbox {
  display: flex;
   border: 5px solid black;
  border-radius: 5px;
  margin: 300px 700px;
  padding: 10px;
  background-color:rgb(255, 255, 255);  
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.FondoLogin{
  background-color:rgba(242, 222, 184, 0.582);
}

.menu-container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #e67e22;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    background: #e67e22;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.item {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.contact-container {
  max-width: 600px;
  margin: 93px auto;
  background: white;
  padding: 80px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} 
h1 {
  color: #e67e22;
}
.contact-card {
  background: #fff;
  padding: 15px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.contact-card:hover {
  transform: scale(1.05);
} 
.contact-card a {
  text-decoration: none;
  color: #e67e22;
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 10px;
}

.history-container {
  max-width: 900px;
  margin: 100px auto 50px auto;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
}
h1 {
  color: #e67e22;
}
.history-text {
  text-align: left;
  padding: 10px;
}
.history-section {
  margin: 20px 0;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
}
.history-image img {
  max-width: 100%;
  border-radius: 10px;
}

.promos-container {
  max-width: 700px;
  margin: 100px auto 50px auto;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.promos-img img {
  max-width: 100%;
  border-radius: 10pxs
  
}







@media (min-width: 980px){
  header{
    position: fixed;
    width: 100%;
  }
  
  header .container{
    flex-direction: row;
    justify-content: space-between; 

  }

  header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 15px;
  }

  footer{
    display: flex;
    flex-direction: row;
  }

  footer .redes{
    display: flex;
    justify-items: right;
  }

  .contact-container {
    margin: 176px auto;
  }
  
  .menu-container {
    margin-top: 80px;
  }

  .whatsapp-float {
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: #25D366;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    text-decoration: none;
    transition: transform 0.2s;
  }
  
  .whatsapp-float:hover {
    transform: scale(1.05);
  } 
  
  .whatsapp-float img {
    width: 80px;
    height: 80px;
  }



  .history-container {
  text-align: center;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  }
  .history-text {
  text-align: center;
  }
}