
$color-primary: #e67e22;
$color-secondary: rgb(242, 222, 184);
$color-background: rgb(230, 230, 230);
$color-text: rgb(100, 100, 100);


$font-lora: "Lora", serif;


$font-size-h1: 3.5em;
$font-size-h2: 2.7em;
$font-size-h3: 2em;
$font-size-p: 1.5em;